@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');


/* BODY - START */

body{
  margin: 0;
  font-family: 'Poppins', sans-serif;
}

/* BODY - END */

/* NAVIGATION BAR  -START */
nav {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    color: #fff;
    background-color: #fff;
    overflow: hidden;
    z-index: 999;
    height: auto;
    display: flex;
    padding: 0;
    justify-content: space-between;
  }
  
  nav ul {
    margin: 0;
    padding: 0;
    list-style: none;
    text-align: center;
    display: flex;
    justify-content: space-evenly;
  }
  
  nav li {
    display: flex;
    width: 25%;
    background-color: #6D6D6D;
    text-decoration: none;
    border-radius: 8px;
    padding: 0 2%;
    height: inherit;
  }
  
  nav a {
    font-family: 'Poppins';
    font-weight: bold;
    color: white;
    text-decoration: none;
    font-size: clamp(0.4375rem, -0.1875rem + 2vw, 0.9375rem);
    margin: auto;
  }
  
  nav li:hover a{
    color: #3E3E3E;
    font-style: italic;
  }

  nav li:hover{
    background: white;
  }

  nav img{
    width: 100px;
    height: 100px;
    border-radius: 50%;
    cursor: pointer;
    margin-left: 30%;
  }

  nav img:hover{
    transform: scale(1.1);
  }

  nav .img-container{
    width: 20%;
    height: fit-content;
    scale: 0.5;
  }

  nav .nav-links{
    width: 50%;
    height: fit-content;
    margin: auto 0;
  }
/* NAVIGATION BAR  - END */

/*HERO*/
.start-section{
  display: flex;
  flex-direction: column;
  margin-top: -15px;
  position: relative;
  margin-bottom: 20%;

}

.start-section img{
  width: 100%;
  height: auto;
  z-index: -2;
  position: absolute;
  background-color: #E8E8E8;
}

.start-button{
  z-index: 500;
  margin-top: 27%;
  width: fit-content;
  padding: 0.5% 1%;
  font-size: clamp(0.625rem, 0.2344rem + 1.25vw, 0.9375rem);
  background-color: #947F57;
  color: #FFF;
  border-radius: 75px 75px;
  padding: 0.5% 2%;
  font-weight: bolder;
  
}
button.start-button:hover{
  cursor: pointer;
  transform: scale(1.10);
  background: #7C9D96;
  color: #fff;
  }

.btn-container{
  width: 100%;
  display: flex;
  justify-content: center;
  
}

/*CHOPIN*/

.chopin-section{
  display: flex;
  justify-content: space-evenly;
  padding: 5% 0;
  background-color: #E8E8E8;
}

.chopin-description{
  display: flex;
  flex-direction: column;
  width: 50%;
  justify-content: end;
}

.chopin-image{
  width: 30%;
  display: flex;
  justify-content: center;
}

.chopin-section img{
  width: 100%;
  height: auto;
  border-radius: 999em 999em 40px 40px;
  object-fit: cover;
}

.chopin-section h1{
  font-family: 'Poppins';
  font-weight: bold;
  text-align: center;
  color: #fff; 
  border-radius: 75px 75px;
  background: #7C9D96;
  border-style: solid;
  border-color: black;
  box-shadow: 0 8px 8px -4px gray;
  width: fit-content;
  padding: 2% 5%;
  font-size: clamp(0.9375rem, 0.1563rem + 2.5vw, 1.5625rem);
}
.chopin-section p{
  font-family: 'Poppins';
  text-align: justify;
  font-size: clamp(0.625rem, 0.2344rem + 1.25vw, 0.9375rem);
  color: black;
  padding: 2% 5%;
}

.chopin-section .p-container{
  margin-top: 5%;
  background-color: rgba(124,157,150, 0.3);
  border-radius: 10px 10px 0 0;
}

/*WAVE*/

.wave-section{
  width: 100%;
  margin: 0;
  background: #e8e8e8;
  display: flex;
}


/*NOTABLE*/
.notable-section{
  display: flex;
  flex-direction: column;
  width: 100%;
  background-color: #3E3E3E;
  padding: 5% 0;
}

.notable-heading{
  margin-left: 6%;
  margin-bottom: 3%;
}

.notable-section p{
  text-align: justify;
  font-size: clamp(0.625rem, -0.1563rem + 2.5vw, 1.25rem);
  margin-top: 0;
}

.notable-section h2{
  text-align: center;
  font-size: clamp(0.625rem, -0.1563rem + 2.5vw, 1.25rem);
  font-family: 'Poppins';
  font-weight: bold;
  color: #fff; 
  border-radius: 75px 75px;
  background: #7C9D96;
  padding: 2% 5%;
  box-shadow: 0 8px 8px -4px black;
}

.notable-group{
  display: flex;
  flex-direction: column;
  width: 47%;
}

.notable-frame{
  display: flex;
  width: 50%;
  justify-content: space-around;
}

.notable-section img{
  border: solid;
  border-width: 10px;
  border-radius: 10px;
  border-color: #7C9D96;
}

.notable-container{
  display: flex;
  width: 90%;
  justify-content: space-around;
  margin: auto;
}

.notable-section h1{
  font-size: clamp(0.9375rem, 0.5469rem + 1.25vw, 1.25rem);
  font-weight: bold;
  color: #fff; 
  border-radius: 75px 75px;
  background: #7C9D96;
  padding: 2% 5%;
  border-style: solid;
  border-color: white;
  box-shadow: 0 8px 8px -4px gray;
  width: fit-content;
}



/*EXCERPT*/

.excerpt-section{
  padding: 5%;
  background: #E8E8E8;
}


.excerpt-description{
  padding: 3%;
  background: rgba(124,157,150, 0.3);
  text-align: justify;
  margin-top: 5%;
}

.excerpt-section h1{
  font-size: clamp(1.0625rem, 0.4375rem + 2vw, 1.5625rem);
  font-family: 'Poppins';
  font-weight: bold;
  text-align: center;
  color: #fff; 
  border-radius: 75px 75px;
  background: #7C9D96;
  border-style: solid;
  border-color: black;
  box-shadow: 0 8px 10px -4px gray;
  padding: 2% 5%;
  width: fit-content;
}


.excerpt-description p{
  font-size: clamp(0.625rem, 0.2344rem + 1.25vw, 0.9375rem);
  color: black;
  font-weight: bold;
}

/* FOOTER - START */


/* FOOTER - END */

.footer-section{
  display: flex;
  flex-direction: column;
  height: fit-content;
  padding: 0 10%;
  background: #888888;
}

.footer-text{
  display: flex;
  width: 100%;
  justify-content: space-between;
  color: #FFF;
}

.footer-section .contents{
  display: inline-block;
  width: 45%;
}

.footer-section .about{
  width: 45%;
}

.footer-section h5{
  text-align: center;
}

.footer-section h4{
  font-size: clamp(0.9375rem, 0.1563rem + 2.5vw, 1.5625rem);
}

.footer-section a, p, h5{
  font-size: clamp(0.625rem, 0.2344rem + 1.25vw, 0.9375rem);
  color: #FFF;
}

.footer-section a:hover{
  color: #3E3E3E;
}




@media screen and (max-width:964px) {
  nav{
    flex-direction: column;
    justify-content: center;
    gap: 0;
  }

  nav .img-container{
    margin: auto;
    width: fit-content;
  }

  nav .nav-links{
    width: 100%;
  }

  .main{
    margin-top: 100px;
  }  

  nav li{
    width: 27%;
  }

  nav ul{
    margin-bottom: 2%;
  }

  nav img{
    width: 75px;
    height: 75px;
  }
  
  .chopin-section{
    display: flex;
    flex-direction: column;
  }

  .chopin-description{
    display: flex;
    flex-direction: column;
    width: 80%;
    margin: 0 auto;
  }
  
  .chopin-image{
    width: 30%;
    margin: 5% auto;
    margin-top: 0;
  }
  
  .chopin-section img{
    width: 100%;
    height: auto;
    border-radius: 40px 40px 999em 999em;
  }
  
  .notable-section{
    display: flex;
    flex-direction: column;
    width: 100%;
  }
  
  .notable-group{
    display: flex;
    flex-direction: column;
    width: 47%;
  }
  
  .notable-frame{
    display: flex;
    width: 100%;
    justify-content: space-between;
  }
  
  .notable-section img{
    border: solid;
    border-width: 10px;
    border-radius: 10px;
  }
  
  .notable-container{
    display: flex;
    width: 70%;
    justify-content: space-around;
    margin: auto;
    flex-direction: column;
  }

  .notable-heading {
    width: fit-content;
    margin: 0;
    margin: auto;
  }

  .notable-heading h1{
    text-align: center;
  }
  
}



@media screen and (max-width:601px) {
  .notable-frame{
    display: flex;
    width: 100%;
    justify-content: space-between;
    flex-direction: column;
  }

  .notable-group{
    margin: auto;
  } 

  .excerpt-heading{
    width: inherit;
  }

  .excerpt-heading h1{
    margin-left: auto;
    margin-right: auto;
  }
  .chopin-section h1{
    margin: auto;
  }

}


@media screen and (max-width:301px){
  nav img{
    width: 45px;
    height: 45px;
  }

  nav{
    height: fit-content;
  }
}
